//-
  -    RESULTS PAGE
  -    ============
  -
  -    Results page view
  -
  -    Questions to Francois <francoisrvespa@gmail.com>
//-

//- Use layout
extends ../layouts/layout

block page
  .row
    .columns.small-12
      //- The search form
      form(name='search2')
        input(type='text' value=req.query.q)
        button.tiny Search

  //- For each results
  - each listing in results.organic.listings
    .row.result
      .columns.small-12
        
        //- The clickable title
        h5
          a(href=listing.url)
            | !{listing.title}
        
        //- The display URL
        h6='http://' + listing.display_url

        //- The description
        p
          | !{listing.description}
